.container {
  padding: 0 2rem;
}

.formContainer {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 2px solid #344e41bd;
  border-radius: 5px;
}

.optionInput {
  margin-top: 30px;
  padding: 10px;
  border-radius: 10px;
  font-size: 25px;
}

.playlistContainer {
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 400px;
  margin: auto;
  padding: 20px 0;
  border-top: #e4e4e4 solid 2px;
}

.textInput {
  height: 30px;
  border-radius: 10px;
  margin: 10px 0;
  font-size: 15px;
}

.selectContainer {
  display: flex;
  flex-direction: column;
}
